.footer {
  background: #F5F6FA;
}
.footer__wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.footer__title {
  @media (max-width: 686px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__images-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  
  @media (max-width: 804px){
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__images-list-item {
  display: flex;
  flex-direction: column;
}
.footer__images-list-item-text {
  max-width: 129px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  @media (max-width: 804px){
    font-size: 16px;
  }
}
.footer__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.m-p-mobile-app__button {
}
.footer__desc {
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 36px;
}
.footer__desc-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.footer__down {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  @media (max-width: 441px){
    gap: 33px;
    justify-content: center;
    .footer__list:nth-child(1){
      order: 0;
    }
    .footer__list:nth-child(2){
      order: 1;
    }
    .footer__copyright{
      order: 3;
    }
  }
}
.footer__list {
  display: flex;
  gap: 24px;
  @media (max-width: 604px){
    flex-direction: column;
  }
}
.footer__list-item {
}
.footer__copyright {
  margin-left: -10%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #B4B7C3;
  @media (max-width: 668px){
    margin: 0;
  }
}
